/*цвет основного текста #000000*/
/*акцент #2196F3*/
/*акцент #FFFFFF*/
/*цвет вторичного текста #757575*/
/*акцент rgba(255, 255, 255, 0.6);*/
/*цвет фона #E5E5E5*/
/*вторичный цвет фона #F5F4FA*/
body {
    background-color: #E5E5E5;
    color: #212121;    
}
ul { 
    list-style: none;}

/*site nav*/
